<!DOCTYPE html>
<html>
<head>
	<title>WebRTC</title>
</head>
<body>
	<h1>Stream with WebRTC NodeJS &amp; SocketIO</h1>
	<video id="localStream" width="300" controls=""></video>
	<video id="friendStream" width="300" controls=""></video>
	My Connection Token:
	<textarea rows="4" cols="100" id="txtSignal"></textarea>
	<input type="text" placeholder="Your's friend token" id="txtFriendSignal">
	<button id="btnConnect">Connect</button>
</body>
<script src="bundle.js"></script>
</html>